*{
    vertical-align: top;
    box-sizing:border-box;
    font-family: sans-serif;
}

.container{
    border: 3px solid black;
    margin: 0px auto;
    width: 960px;
    height: 1100px;
    display: block;
    background-image: url("/static/images/bg11.png");
    background-repeat: no-repeat;
    background-size: 960px 1100px;
}

.column{
    display: inline-block;
    width: 250px;
    border: 1px solid black;
    padding:30px;
    margin-left:100px;
    background-image: url("/static/images/loginimg.jpg");
    background-repeat: no-repeat;
    background-size: 310px 1000px;
}

.head{
    display: block;
    text-align: center;
}

.login{
    /* display: inline-block; */
    width: 160px;
    border: 1px solid black;
    padding: 30px;
    margin-left:600px;
    margin-top:-850px;
    background-image: url("/static/images/loginimg.jpg");
    background-repeat: no-repeat;
    background-size: 260px 310px;
}

.header{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    height:80px;
    background-image: url("/static/images/loginimg.jpg");
    background-repeat: no-repeat;
    background-size: 970px 100px;
    color:white
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a {
    display:inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white
}

.header1{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    height:80px;
    background-image: url("/static/images/loginimg.jpg");
    background-repeat: no-repeat;
    background-size: 970px 100px;
}

.header1 a:hover {
    background-color: #ddd;
    color: black;
}

.header1 a {
    margin-left:700px;
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input#login{
    margin-left:720px;
    margin-top:30px;
}

.selector{
    border:1px solid black;
    margin-top:80px;
    height:300px;
    width:200px;
}

.items{
    border:1px solid black;
    width:700px;
    height:850px;
    margin-left:230px;
    margin-top:-300px;
    /* overflow: scroll; */
}

input#sell{
    margin-left:550px;
    margin-top:30px;
}

input#log_out{
    margin-left:40px;
    margin-top:30px;
}

div#buttons{
    margin-left:420px;
}

div#sell_buttons{
    margin-left:300px;
}

.sell_container{
    margin-left:260px;
    height:900px;
    border: 1px solid black;
    display: inline-block;
    padding:20px;
    background-image: url("/static/images/sell_container.jpg");
    background-repeat: no-repeat;
    background-size: 450px 940px;
}

div#user_buttons{
    margin-left:420px;
}

.user_history{
    border: 1px solid black;
    display:inline-block;
    padding:20px;
}