<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1><a href="/success">Shoe Store</a</h1>
            <div id="buttons">
                <a href="/new_item">SELL</a>
                <a href="/user">{{request.session.user_first_name}}</a>
                <a href="/log_out">LOG OUT</a>
            </div>
        </div>
        <div id="charge_box">
            <h2 class="text">Congratulations</h2>
            <h3 class="text">Your order had been successfully completed your order.</h3>
            <a href="/success">Continue Shopping</a>
        </div>
    </div>
</body>

</html>