<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Item</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="container">
        <div class="header">

            <h1 class="text">Shoe Store</h1>
            <div id="sell_buttons">
                <a href="/success">GO BACK</a>
                <a href="/user">{{request.session.user_first_name}}</a>
                <a href="/log_out">LOG OUT</a>
            </div>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br>
        <div class="sell_container">

            <h2>List A New Item</h2>
            <form action="/create_item" method="POST" enctype="multipart/form-data">
                {% csrf_token %}<br>
                <p>Item Brand: </p>
                <input class="sell_input" type="text" name="brand" value="" placeholder="ITEM BRAND"><br><br>
                <p>Item Name:</p>
                <input class="sell_input"  type="text" name="name" value="" placeholder="ITEM NAME"><br><br>
                Item Main Color: <select  class="select-css" name="color_one">
                    <option value="black">Black</option>
                    <option value="white">White</option>
                    <option value="blue">Blue</option>
                    <option value="red">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="orange">Orange</option>
                    <option value="green">Green</option>
                </select><br><br>
                Item Secondary Color: <select  class="select-css" name="color_two">
                    <option value="none">None</option>
                    <option value="black">Black</option>
                    <option value="white">White</option>
                    <option value="blue">Blue</option>
                    <option value="red">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="orange">Orange</option>
                    <option value="green">Green</option>
                </select><br><br>
                <p>Size:</p> 
                <input class="shoe_size"  type="number" name="item_size" min="6" max="17" step=".5" value="6"><br><br>
                Item Gender: <select class="select-css" name="item_gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="unisex">Unisex</option>
                </select><br><br>
                Condition: <select  class="select-css" name="condition">
                    <option value="deadstock">Deadstock</option>
                    <option value="great">Great</option>
                    <option value="used">Used</option>
                </select><br><br>
                <h4>Item Pictures</h4>
                Front Photo: <input type="file" name="front_photo" accept="image/*"><br><br>
                Back Photo: <input type="file" name="back_photo" accept="image/*"><br><br>
                Top Photo <i>(optional)</i>: <input type="file" name="top_photo" accept="image/*"><br><br>
                Bottom Photo <i>(optional)</i>: <input type="file" name="bottom_photo" accept="image/*"><br><br>
                Left Photo <i>(optional)</i>: <input type="file" name="left_photo" accept="image/*"><br><br>
                Right Photo <i>(optional)</i>: <input type="file" name="right_photo" accept="image/*"><br><br>
                <b>Asking Price: $</b> <input type="number" name="price" min="50" max="100000" step="10" value="50"><br><br>
                <input class="button"  type="submit" name="submit" value="Add Item">
            </form>
            <br>
            <form action="/success" method="POST">
                {% csrf_token %}
                <input class="button_sell" type="submit" name="submit" value="Cancel">
            </form>
        </div>
    </div>
</body>
</html>