<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container">
        <div class="header">

            <h1 class="text">Shoe Store</h1>

            <div id="buttons">

                <a href="/new_item">SELL</a>
                <a href="/user">{{request.session.user_first_name}}</a>
                <a href="/log_out">LOG OUT</a> 
            </div>
        </div>
        <div class="selector">
            <p>Select the size:</p>
            <select>
                <option value="All">ALL</option>
                <option value="All">14</option>
                <option value="All">13</option>
                <option value="All">12</option>
                <option value="All">11</option>
                <option value="All">10</option>
                <option value="All">9</option>
                <option value="All">8</option>
                <option value="All">7</option>
                <option value="All">6</option>
                <option value="All">5</option>
                <option value="All">4</option>
            </select>
            </form>

        </div>
        <div class="items">
            {% for item in items reversed %}

            <div class="listed_for_sale">
                
                    <a href="/shoe/{{item.id}}">{{item.item_brand}} {{item.item_name}}</a>
                    <p>Size: {{item.item_size}}</p>
                    <p>Price: {{item.item_price}}</p>
                {% if item.availability == True%}
                    <p>For Sale</p>
                {% endif %}
                    <br><br>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>