<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   

</head>

<body>
    <h1>Congrats {{request.session.user_first_name}} , you are logged in!</h1>

    <form action="/log_out" method="POST">
        {% csrf_token %}
        <input type="submit" name="log_out" value="Sign Out">
    </form>
</body>

</html>