<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container">
        <div class="header">

            <a href="/success"><h1 class="text">Shoe Store</h1></a>

            <div id="buttons">

                <a href="/new_item">SELL</a>
                <a href="/user">{{request.session.user_first_name}}</a>
                <a href="/log_out">LOG OUT</a>
            </div>
        </div>
        <div class="selector">
            <p>Select the size:</p>
            <select>
                <option value="All">ALL</option>
                {% for item in items %}
                <option value="{{items.item_size}}">{{item.item_size}}</option>
                {%endfor%}
            </select>
            </form>

        </div>
        <div class="items">
            {% for item in items reversed %}

            <div class="listed_for_sale">
                
                    <a href="/shoe/{{item.id}}">{{item.item_brand}} {{item.item_name}}</a>
                    <p>Size: {{item.item_size}}</p>
                    <p>Price: {{item.item_price}}</p>
                {% if item.availability == True%}
                    <p>For Sale</p>
                {% endif %}
                    <br><br>
                      </div>

                {% endfor %}

        </div>
    </div>
</body>

</html>