<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Info</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Shoe Store</h1>
            <div id="user_buttons">
                <a href="/success">BACK</a>
                <a href='new_item'>SELL</a>
                <a href="/log_out">LOG OUT</a>
            </div>
        </div>
        <div class="column">

            <h2>User Information</h2>
            <p>First Name: </p>
            <p>{{user.first_name}}</p>
            <p>Last Name: </p>
            <p>{{user.last_name}}</p>
            <p>Email: </p>
            <p>{{user.email}}</p>
            <p>Shoe Size: </p>
            <p>{{user.shoe_size}}</p>

        </div>
        <div class="column">
            <p><b>Shipping Address</b></p>
            <p>{{user.shipping_address}}</p>
            <p>{{user.shipping_city}}</p>
            <p>{{user.shipping_zip}}</p>

            <p><b>Billing Address</b></p>
            <p>{{user.billing_address}}</p>
            <p>{{user.billing_city}}</p>
            <p>{{user.billing_zip}}</p>
        </div>

            <br>

            <a href="/user/edit">Update Your Profile</a>

            <br>
            <br>

            <div class="user_history">
                <h2>The items you've sold.</h2>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Brand</th>
                        <th>Price</th>
                    </tr>

                    {% if items.seller.id == request.session.user_id %}
                    {% for item in items %}
                    <tr>
                        <td>{{item.item_brand}}</td>
                        <td>{{item.item_name}}</td>
                        <td>{{item.item_price}}</td>
                        <td><a href='/shoe/{{item.id}}'>View</td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                </table>




                <h2>The items you've bought.</h2>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Brand</th>
                        <th>Price</th>
                    </tr>
                    {% for buyer in inventory %}
                    <tr>
                        <td>{{item_name.inventory}}</td>
                        <td>{{item_brand.inventory}}</td>
                        <td>{{item_price.inventory}}</td>
                        <td><a href='/{{inventory_id}}'>View</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

</body>

</html>